[Unit]
Description=Speaker Autoconnect
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=mohiuddin
ExecStart=/usr/bin/bash /home/mohiuddin/bt-autoconnect.sh
StartLimitAction=reboot

[Install]
WantedBy=multi-user.target
